In [ ]:
# hi my name is tom
# print("hello")
# maya

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression as lm
from sklearn.tree import DecisionTreeClassifier as treem
from sklearn.tree import plot_tree as treeplt
from sklearn.model_selection import train_test_split as tts

C:\Users\tomge\AppData\Local\Temp\ipykernel_7332\4005977248.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
sberbankTrain = pd.read_csv('sberbank-russian-housing-market/train.csv')
sberbankTest = pd.read_csv('sberbank-russian-housing-market/test.csv')

## Data Description

* price_doc: sale price (this is the target variable)
* id: transaction id
* timestamp: date of transaction
* full_sq: total area in square meters, including loggias, balconies and other non-residential areas
* life_sq: living area in square meters, excluding loggias, balconies and other non-residential areas
* floor: for apartments, floor of the building
* max_floor: number of floors in the building
* material: wall material
* build_year: year built
* num_room: number of living rooms
* kitch_sq: kitchen area
* state: apartment condition
* product_type: owner-occupier purchase or investment
* sub_area: name of the district

##### The dataset also includes a collection of features about each property's surrounding neighbourhood, and some features that are constant across each sub area (known as a Raion). Most of the feature names are self explanatory, with the following notes. See below for a complete list.

* full_all: subarea population
* male_f, female_f: subarea population by gender
* young_*: population younger than working age
* work_*: working-age population
* ekder_*: retirement-age population
* n_m_{all|male|female}: population between n and m years old
* build_count_*: buildings in the subarea by construction type or year
* x_count_500: the number of x within 500m of the property
* x_part_500: the share of x within 500m of the property
* _sqm_: square meters
* cafe_count_d_price_p: number of cafes within d meters of the property that have an average bill under p RUB
* trc_: shopping malls
* prom_: industrial zones
* green_: green zones
* metro_: subway
* _avto_: distances by car
* mkad_: Moscow Circle Auto Road
* ttk_: Third Transport Ring
* sadovoe_: Garden Ring
* bulvar_ring_: Boulevard Ring
* kremlin_: City center
* zd_vokzaly_: Train station
* oil_chemistry_: Dirty industry
* ts_: Power plant


### macro.csv

##### A set of macroeconomic indicators, one for each date.

* timestamp: Transaction timestamp
* oil_urals: Crude Oil Urals ($/bbl)
* gdp_quart: GDP
* gdp_quart_growth: Real GDP growth
* cpi: Inflation - Consumer Price Index Growth
* ppi: Inflation - Producer Price index Growth
* gdp_deflator: Inflation - GDP deflator
* balance_trade: Trade surplus
* balance_trade_growth: Trade balance (as a percentage of previous year)
* usdrub: Ruble/USD exchange rate
* eurrub: Ruble/EUR exchange rate
* brent: London Brent ($/bbl)
* net_capital_export: Net import / export of capital
* gdp_annual: GDP at current prices
* gdp_annual_growth: GDP growth (in real terms)
* average_provision_of_build_contract: Provision by orders in Russia (for the developer)
* average_provision_of_build_contract_moscow: Provision by orders in Moscow (for the developer)
* rts: Index RTS / return
* micex: MICEX index / return
* micex_rgbi_tr: MICEX index for government bonds (MICEX RGBI TR) / yield
* micex_cbi_tr: MICEX Index corporate bonds (MICEX CBI TR) / yield
* deposits_value: Volume of household deposits
* deposits_growth: Volume growth of population's deposits
* deposits_rate: Average interest rate on deposits
* mortgage_value: Volume of mortgage loans
* mortgage_growth: Growth of mortgage lending
* mortgage_rate: Weighted average rate of mortgage loans
* grp: GRP of the subject of Russian Federation where Apartment is located
* grp_growth: Growth of gross regional product of the subject of the Russian Federation where Apartment is located
* income_per_cap: Average income per capita 
* real_dispos_income_per_cap_growth: Growth in real disposable income of Population
* salary: Average monthly salary
* salary_growth: Growth of nominal wages
* fixed_basket: Cost of a fixed basket of consumer goods and services for inter-regional comparisons of purchasing power
* retail_trade_turnover: Retail trade turnover
* retail_trade_turnover_per_cap: Retail trade turnover per capita
* retail_trade_turnover_growth: Retail turnover (in comparable prices in% to corresponding period of previous year)
* labor_force: Size of labor force
* unemployment: Unemployment rate
* employment: Employment rate
* invest_fixed_capital_per_cap: Investments in fixed capital per capita
* invest_fixed_assets: Absolute volume of investments in fixed assets
* profitable_enterpr_share: Share of profitable enterprises
* unprofitable_enterpr_share: The share of unprofitable enterprises
* share_own_revenues: The share of own revenues in the total consolidated budget revenues
* overdue_wages_per_cap: Overdue wages per person
* fin_res_per_cap: The financial results of companies per capita
* marriages_per_1000_cap: Number of marriages per 1,000 people
* divorce_rate: The divorce rate / growth rate
* construction_value: Volume of construction work performed (million rubles)
* invest_fixed_assets_phys: The index of physical volume of investment in fixed assets (in comparable prices in% to the corresponding month of Previous year)
* pop_natural_increase: Rate of natural increase / decrease in Population (1,000 persons)
* pop_migration: Migration increase (decrease) of population
* pop_total_inc: Total population growth
* childbirth: Childbirth
* mortality: Mortality
* housing_fund_sqm: Housing Fund (sqm)
* lodging_sqm_per_cap: Lodging (sqm / pax)
* water_pipes_share: Plumbing availability (pax)
* baths_share: Bath availability (pax)
* sewerage_share: Canalization availability
* gas_share: Gas (mains, liquefied) availability
* hot_water_share: Hot water availability
* electric_stove_share: Electric heating for the floor
* heating_share: Heating availability
* old_house_share: Proportion of old and dilapidated housing, percent
* average_life_exp: Average life expectancy
* infant_mortarity_per_1000_cap: Infant mortality rate (per 1,000 children aged up to one year)
* perinatal_mort_per_1000_cap: Perinatal mortality rate (per 1,000 live births)
* incidence_population: Overall incidence of the total population
* rent_price_4+room_bus: rent price for 4-room apartment, business class
* rent_price_3room_bus: rent price for 3-room apartment, business class
* rent_price_2room_bus: rent price for 2-room apartment, business class
* rent_price_1room_bus: rent price for 1-room apartment, business class
* rent_price_3room_eco: rent price for 3-room apartment, econom class
* rent_price_2room_eco: rent price for 2-room apartment, econom class
* rent_price_1room_eco: rent price for 1-room apartment, econom class
* load_of_teachers_preschool_per_teacher: Load of teachers of preschool educational institutions (number of children per 100 teachers);
* child_on_acc_pre_school: Number of children waiting for the determination to pre-school educational institutions, for * capacity of 100
* load_of_teachers_school_per_teacher: Load on teachers in high school (number of pupils in hugh school for 100 teachers)
* students_state_oneshift: Proportion of pupils in high schools with one shift, of the total number of pupils in high schools
* modern_education_share: Share of state (municipal) educational organizations, corresponding to modern requirements of education in the total number of high schools;
* old_education_build_share: The share of state (municipal) educational organizations, buildings are in disrepair and in need of major repairs of the total number.
* provision_doctors: Provision (relative number) of medical doctors in area
* provision_nurse: Provision of nursing staff
* load_on_doctors: The load on doctors (number of visits per physician)
* power_clinics: Capacity of outpatient clinics
* hospital_beds_available_per_cap: Availability of hospital beds per 100 000 persons
* hospital_bed_occupancy_per_year: Average occupancy rate of the hospital beds during a year
* provision_retail_space_sqm: Retail space
* provision_retail_space_modern_sqm: Provision of population with retail space of modern formats, square meter
* retail_trade_turnover_per_cap: Retail trade turnover per capita
* turnover_catering_per_cap: Turnover of catering industry per person
* theaters_viewers_per_1000_cap: Number of theaters viewers per 1000 population
* seats_theather_rfmin_per_100000_cap: Total number of seats in Auditorium of the Ministry of Culture Russian theaters per 100,000 population
* museum_visitis_per_100_cap: Number of visits to museums per 1000 of population
* bandwidth_sports: Capacity of sports facilities
* population_reg_sports_share: Proportion of population regularly doing  sports
* students_reg_sports_share: Proportion of pupils and students regularly doing sports in the total number
* apartment_build: City residential apartment construction
* apartment_fund_sqm: City residential apartment fund 


##### Complete description of neighbourhood features

* area_m	Area mun. area, sq.m.
* raion_popul	Number of municipality population. district
* green_zone_part	Proportion of area of ​​greenery in the total area
* indust_part	Share of industrial zones in area of ​​the total area
* children_preschool	Number of pre-school age population
* preschool_quota	Number of seats in pre-school organizations
* preschool_education_centers_raion	Number of pre-school  institutions
* children_school	Population of school-age children
* school_quota	Number of high school seats in area
* school_education_centers_raion	Number of  high school institutions
* school_education_centers_top_20_raion	Number of high schools of the top 20 best schools in Moscow
* hospital_beds_raion	Number of hospital beds for the district
* healthcare_centers_raion	Number of healthcare centers in district
* university_top_20_raion	Number of higher education institutions in the top ten ranking of the Federal rank
* sport_objects_raion	Number of higher education institutions
* additional_education_raion	Number of additional education organizations
* culture_objects_top_25	Presence of the key objects of cultural heritage (significant objects for the level of the RF constituent entities, city)
* culture_objects_top_25_raion	Number of  objects of cultural heritage
* shopping_centers_raion	Number of malls and shopping centres in district
* office_raion	Number of malls and shopping centres in district
* thermal_power_plant_raion	Presence of thermal power station in district
* incineration_raion	Presence of incinerators
* oil_chemistry_raion	Presence of dirty industries
* radiation_raion	Presence of radioactive waste disposal
* railroad_terminal_raion	Presence of the railroad terminal in district
* big_market_raion	Presence of large grocery / wholesale markets
* nuclear_reactor_raion	Presence of existing nuclear reactors
* detention_facility_raion	Presence of detention centers, prisons
* full_all	Total number of  population in the municipality
* male_f	Male population
* female_f	Female population
* young_all	Population younger than working age
* young_male	Male population younger than working age 
* young_female	Feale population younger than working age 
* work_all	Working-age population
* work_male	Male working-age population
* work_female	Female working-age population
* ekder_all	Population older than  working age
* ekder_male	Male population older than  working age
* ekder_female	Female population older than  working age
* 0_6_all	Population aged 0-6
* 0_6_male	Male population aged 0-7
* 0_6_female	Female population aged 0-8
* 7_14_all	Population aged  7-14
* 7_14_male	Male population aged 7-14
* 7_14_female	Female population aged 7-14
* 0_17_all	Population aged 0-17
* 0_17_male	Male population aged 0-17
* 0_17_female	Female population aged 0-17
* 16_29_all	Population aged 16-19
* 16_29_male	Male population aged 16-19
* 16_29_female	Female population aged 16-19
* 0_13_all	Population aged 0-13
* 0_13_male	Male population aged 0-13
* 0_13_female	Female population aged 0-13
* raion_build_count_with_material_info	Number of building with material info in district
* build_count_block	Share of block buildings
* build_count_wood	Share of wood buildings
* build_count_frame	Share of frame buildings
* build_count_brick	Share of brick buildings
* build_count_monolith	Share of monolith buildings
* build_count_panel	Share of panel buildings
* build_count_foam	Share of foam buildings
* build_count_slag	Share of slag buildings
* build_count_mix	Share of mixed buildings
* raion_build_count_with_builddate_info	Number of building with build year info in district
* build_count_before_1920	Share of before_1920 buildings
* build_count_1921-1945	Share of 1921-1945 buildings
* build_count_1946-1970	Share of 1946-1970 buildings
* build_count_1971-1995	Share of 1971-1995 buildings
* build_count_after_1995	Share of after_1995 buildings
* 7_14_male	Male population aged 7-14
* 7_14_female	Female population aged 7-14
* 0_17_all	Population aged 0-17
* 0_17_male	Male population aged 0-17
* 0_17_female	Female population aged 0-17
* 16_29_all	Population aged 16-19
* 16_29_male	Male population aged 16-19
* 16_29_female	Female population aged 16-19
* 0_13_all	Population aged 0-13
* 0_13_male	Male population aged 0-13
* 0_13_female	Female population aged 0-13
* metro_min_avto	Time to subway by car, min.
* metro_km_avto	Distance to subway by car, km
* metro_min_walk	Time to metro by foot
* metro_km_walk	Distance to the metro, km
* kindergarten_km	Distance to kindergarten
* school_km	Distance to high school 
* park_km	Distance to park
* green_zone_km	Distance to green zone
* industrial_zone_km	Distance to industrial zone
* water_treatment_km	Distance to water treatment
* cemetery_km	Distance to the cemetery
* incineration_km	Distance to the incineration
* railroad_station_walk_km	Distance to the railroad station (walk)
* railroad_station_walk_min	Time to the railroad station (walk)
* ID_railroad_station_walk	Nearest railroad station id (walk)
* railroad_station_avto_km	Distance to the railroad station (avto)
* railroad_station_avto_min	Time to the railroad station (avto)
* ID_railroad_station_avto	Nearest railroad station id (avto)
* public_transport_station_km	Distance to the public transport station (walk)
* public_transport_station_min_walk	Time to the public transport station (walk)
* water_km	Distance to the water reservoir / river
* water_1line	First line to the river (150 m)
* mkad_km	Distance to MKAD (Moscow Circle Auto Road)
* ttk_km	Distance to the TTC (Third Transport Ring)
* sadovoe_km	Distance to the Garden Ring
* bulvar_ring_km	The distance to the Boulevard Ring
* kremlin_km	Distance to the city center (Kremlin)
* big_road1_km	Distance to Nearest major road
* ID_big_road1	Nearest big road id
* big_road1_1line	First line to the road (100 m for highwys, 250 m to MKAD)
* big_road2_km	The distance to next distant major road
* ID_big_road2	2nd nearest big road id
* railroad_km	Distance to the railway / Moscow Central Ring / open areas Underground
* railroad_1line	First line to the railway (100 m)
* zd_vokzaly_avto_km	Distance to train station
* ID_railroad_terminal	Nearest railroad terminal id
* bus_terminal_avto_km	Distance to bus terminal (avto)
* ID_bus_terminal	Nearest bus terminal id
* oil_chemistry_km	Distance to dirty industries
* nuclear_reactor_km	Distance to nuclear reactor
* radiation_km	Distance to burial of radioactive waste
* power_transmission_line_km	Distance to power transmission line
* thermal_power_plant_km	Distance to thermal power plant
* ts_km	Distance to power station
* big_market_km	Distance to grocery / wholesale markets
* market_shop_km	Distance to markets and department stores
* fitness_km	Distance to fitness
* swim_pool_km	Distance to swimming pool
* ice_rink_km	Distance to ice palace
* stadium_km	Distance to stadium
* basketball_km	Distance to the basketball courts
* hospice_morgue_km	Distance to hospice/morgue
* detention_facility_km	Distance to detention facility
* public_healthcare_km	Distance to public healthcare
* university_km	Distance to universities
* workplaces_km	Distance to workplaces
* shopping_centers_km	Distance to shopping centers
* office_km	Distance to business centers/ offices
* additional_education_km	Distance to additional education
* preschool_km	Distance to preschool education organizations
* big_church_km	Distance to large church
* church_synagogue_km	Distance to Christian chirches and Synagogues
* mosque_km	Distance to mosques
* theater_km	Distance to theater
* museum_km	Distance to museums
* exhibition_km	Distance to exhibition
* catering_km	Distance to catering
* ecology	Ecological zone where the house is located
* green_part_500	The share of green zones in 500 meters zone
* prom_part_500	The share of industrial zones in 500 meters zone
* office_count_500	The number of office space in 500 meters zone
* office_sqm_500	The square of office space in 500 meters zone
* trc_count_500	The number of shopping malls in 500 meters zone
* trc_sqm_500	The square of shopping malls in 500 meters zone
* cafe_count_500	The number of cafes or restaurants in 500 meters zone
* cafe_sum_500_min_price_avg	Cafes and restaurant min average bill in 500 meters zone
* cafe_sum_500_max_price_avg	Cafes and restaurant max average bill in 500 meters zone
* cafe_avg_price_500	Cafes and restaurant average bill in 500 meters zone
* cafe_count_500_na_price	Cafes and restaurant bill N/A in 500 meters zone
* cafe_count_500_price_500	Cafes and restaurant bill, average under 500 in 500 meters zone
* cafe_count_500_price_1000	Cafes and restaurant bill, average  500-1000 in 500 meters zone
* cafe_count_500_price_1500	Cafes and restaurant bill, average  1000-1500 in 500 meters zone
* cafe_count_500_price_2500	Cafes and restaurant bill, average  1500-2500 in 500 meters zone
* cafe_count_500_price_4000	Cafes and restaurant bill, average  2500-4000 in 500 meters zone
* cafe_count_500_price_high	Cafes and restaurant bill, average  over 4000 in 500 meters zone
* big_church_count_500	The number of big churchs in 500 meters zone
* church_count_500	The number of churchs in 500 meters zone
* mosque_count_500	The number of mosques in 500 meters zone
* leisure_count_500	The number of leisure facilities in 500 meters zone
* sport_count_500	The number of sport facilities in 500 meters zone
* market_count_500	The number of markets in 500 meters zone
* green_part_1000	The share of green zones in 1000 meters zone
* prom_part_1000	The share of industrial zones in 1000 meters zone
* office_count_1000	The number of office space in 1000 meters zone
* office_sqm_1000	The square of office space in 1000 meters zone
* trc_count_1000	The number of shopping malls in 1000 meters zone
* trc_sqm_1000	The square of shopping malls in 1000 meters zone
* cafe_count_1000	The number of cafes or restaurants in 1000 meters zone
* cafe_sum_1000_min_price_avg	Cafes and restaurant min average bill in 1000 meters zone
* cafe_sum_1000_max_price_avg	Cafes and restaurant max average bill in 1000 meters zone
* cafe_avg_price_1000	Cafes and restaurant average bill in 1000 meters zone
* cafe_count_1000_na_price	Cafes and restaurant bill N/A in 1000 meters zone
* cafe_count_1000_price_500	Cafes and restaurant bill, average under 500 in 1000 meters zone
* cafe_count_1000_price_1000	Cafes and restaurant bill, average  500-1000 in 1000 meters zone
* cafe_count_1000_price_1500	Cafes and restaurant bill, average  1000-1500 in 1000 meters zone
* cafe_count_1000_price_2500	Cafes and restaurant bill, average  1500-2500 in 1000 meters zone
* cafe_count_1000_price_4000	Cafes and restaurant bill, average  2500-4000 in 1000 meters zone
* cafe_count_1000_price_high	Cafes and restaurant bill, average  over 4000 in 1000 meters zone
* big_church_count_1000	The number of big churchs in 1000 meters zone
* church_count_1000	The number of churchs in 1000 meters zone
* mosque_count_1000	The number of mosques in 1000 meters zone
* leisure_count_1000	The number of leisure facilities in 1000 meters zone
* sport_count_1000	The number of sport facilities in 1000 meters zone
* market_count_1000	The number of markets in 1000 meters zone
* green_part_1500	The share of green zones in 1500 meters zone
* prom_part_1500	The share of industrial zones in 1500 meters zone
* office_count_1500	The number of office space in 1500 meters zone
* office_sqm_1500	The square of office space in 1500 meters zone
* trc_count_1500	The number of shopping malls in 1500 meters zone
* trc_sqm_1500	The square of shopping malls in 1500 meters zone
* cafe_count_1500	The number of cafes or restaurants in 1500 meters zone
* cafe_sum_1500_min_price_avg	Cafes and restaurant min average bill in 1500 meters zone
* cafe_sum_1500_max_price_avg	Cafes and restaurant max average bill in 1500 meters zone
* cafe_avg_price_1500	Cafes and restaurant average bill in 1500 meters zone
* cafe_count_1500_na_price	Cafes and restaurant bill N/A in 1500 meters zone
* cafe_count_1500_price_500	Cafes and restaurant bill, average under 500 in 1500 meters zone
* cafe_count_1500_price_1000	Cafes and restaurant bill, average  500-1000 in 1500 meters zone
* cafe_count_1500_price_1500	Cafes and restaurant bill, average  1000-1500 in 1500 meters zone
* cafe_count_1500_price_2500	Cafes and restaurant bill, average  1500-2500 in 1500 meters zone
* cafe_count_1500_price_4000	Cafes and restaurant bill, average  2500-4000 in 1500 meters zone
* cafe_count_1500_price_high	Cafes and restaurant bill, average  over 4000 in 1500 meters zone
* big_church_count_1500	The number of big churchs in 1500 meters zone
* church_count_1500	The number of churchs in 1500 meters zone
* mosque_count_1500	The number of mosques in 1500 meters zone
* leisure_count_1500	The number of leisure facilities in 1500 meters zone
* sport_count_1500	The number of sport facilities in 1500 meters zone
* market_count_1500	The number of markets in 1500 meters zone
* green_part_2000	The share of green zones in 2000 meters zone
* prom_part_2000	The share of industrial zones in 2000 meters zone
* office_count_2000	The number of office space in 2000 meters zone
* office_sqm_2000	The square of office space in 2000 meters zone
* trc_count_2000	The number of shopping malls in 2000 meters zone
* trc_sqm_2000	The square of shopping malls in 2000 meters zone
* cafe_count_2000	The number of cafes or restaurants in 1500 meters zone
* cafe_sum_2000_min_price_avg	Cafes and restaurant min average bill in 2000 meters zone
* cafe_sum_2000_max_price_avg	Cafes and restaurant max average bill in 2000 meters zone
* cafe_avg_price_2000	Cafes and restaurant average bill in 2000 meters zone
* cafe_count_2000_na_price	Cafes and restaurant bill N/A in 2000 meters zone
* cafe_count_2000_price_500	Cafes and restaurant bill, average under 500 in 2000 meters zone
* cafe_count_2000_price_1000	Cafes and restaurant bill, average  500-1000 in 2000 meters zone
* cafe_count_2000_price_1500	Cafes and restaurant bill, average  1000-1500 in 2000 meters zone
* cafe_count_2000_price_2500	Cafes and restaurant bill, average  1500-2500 in 2000 meters zone
* cafe_count_2000_price_4000	Cafes and restaurant bill, average  2500-4000 in 2000 meters zone
* cafe_count_2000_price_high	Cafes and restaurant bill, average  over 4000 in 2000 meters zone
* big_church_count_2000	The number of big churchs in 2000 meters zone
* church_count_2000	The number of churchs in 2000 meters zone
* mosque_count_2000	The number of mosques in 2000 meters zone
* leisure_count_2000	The number of leisure facilities in 2000 meters zone
* sport_count_2000	The number of sport facilities in 2000 meters zone
* market_count_2000	The number of markets in 2000 meters zone
* green_part_3000	The share of green zones in 3000 meters zone
* prom_part_3000	The share of industrial zones in 3000 meters zone
* office_count_3000	The number of office space in 3000 meters zone
* office_sqm_3000	The square of office space in 3000 meters zone
* trc_count_3000	The number of shopping malls in 3000 meters zone
* trc_sqm_3000	The square of shopping malls in 3000 meters zone
* cafe_count_3000	The number of cafes or restaurants in 1500 meters zone
* cafe_sum_3000_min_price_avg	Cafes and restaurant min average bill in 3000 meters zone
* cafe_sum_3000_max_price_avg	Cafes and restaurant max average bill in 3000 meters zone
* cafe_avg_price_3000	Cafes and restaurant average bill in 3000 meters zone
* cafe_count_3000_na_price	Cafes and restaurant bill N/A in 3000 meters zone
* cafe_count_3000_price_500	Cafes and restaurant bill, average under 500 in 3000 meters zone
* cafe_count_3000_price_1000	Cafes and restaurant bill, average  500-1000 in 3000 meters zone
* cafe_count_3000_price_1500	Cafes and restaurant bill, average  1000-1500 in 3000 meters zone
* cafe_count_3000_price_2500	Cafes and restaurant bill, average  1500-2500 in 3000 meters zone
* cafe_count_3000_price_4000	Cafes and restaurant bill, average  2500-4000 in 3000 meters zone
* cafe_count_3000_price_high	Cafes and restaurant bill, average  over 4000 in 3000 meters zone
* big_church_count_3000	The number of big churchs in 3000 meters zone
* church_count_3000	The number of churchs in 3000 meters zone
* mosque_count_3000	The number of mosques in 3000 meters zone
* leisure_count_3000	The number of leisure facilities in 3000 meters zone
* sport_count_3000	The number of sport facilities in 3000 meters zone
* market_count_3000	The number of markets in 3000 meters zone
* green_part_5000	The share of green zones in 5000 meters zone
* prom_part_5000	The share of industrial zones in 5000 meters zone
* office_count_5000	The number of office space in 5000 meters zone
* office_sqm_5000	The square of office space in 5000 meters zone
* trc_count_5000	The number of shopping malls in 5000 meters zone
* trc_sqm_5000	The square of shopping malls in 5000 meters zone
* cafe_count_5000	The number of cafes or restaurants in 1500 meters zone
* cafe_sum_5000_min_price_avg	Cafes and restaurant min average bill in 5000 meters zone
* cafe_sum_5000_max_price_avg	Cafes and restaurant max average bill in 5000 meters zone
* cafe_avg_price_5000	Cafes and restaurant average bill in 5000 meters zone
* cafe_count_5000_na_price	Cafes and restaurant bill N/A in 5000 meters zone
* cafe_count_5000_price_500	Cafes and restaurant bill, average under 500 in 5000 meters zone
* cafe_count_5000_price_1000	Cafes and restaurant bill, average  500-1000 in 5000 meters zone
* cafe_count_5000_price_1500	Cafes and restaurant bill, average  1000-1500 in 5000 meters zone
* cafe_count_5000_price_2500	Cafes and restaurant bill, average  1500-2500 in 5000 meters zone
* cafe_count_5000_price_4000	Cafes and restaurant bill, average  2500-4000 in 5000 meters zone
* cafe_count_5000_price_high	Cafes and restaurant bill, average  over 4000 in 5000 meters zone
* big_church_count_5000	The number of big churchs in 5000 meters zone
* church_count_5000	The number of churchs in 5000 meters zone
* mosque_count_5000	The number of mosques in 5000 meters zone
* leisure_count_5000	The number of leisure facilities in 5000 meters zone
* sport_count_5000	The number of sport facilities in 5000 meters zone
* market_count_5000	The number of markets in 5000 meters zone

In [8]:
countTrainNA = 0
for col in sberbankTrain.columns:
    if sberbankTrain[col].isna().sum() > 0:
        print(f'column name: {col}, nas: {sberbankTrain[col].isna().sum()}')
        countTrainNA += 1

column name: life_sq, nas: 6383
column name: floor, nas: 167
column name: max_floor, nas: 9572
column name: material, nas: 9572
column name: build_year, nas: 13605
column name: num_room, nas: 9572
column name: kitch_sq, nas: 9572
column name: state, nas: 13559
column name: preschool_quota, nas: 6688
column name: school_quota, nas: 6685
column name: hospital_beds_raion, nas: 14441
column name: raion_build_count_with_material_info, nas: 4991
column name: build_count_block, nas: 4991
column name: build_count_wood, nas: 4991
column name: build_count_frame, nas: 4991
column name: build_count_brick, nas: 4991
column name: build_count_monolith, nas: 4991
column name: build_count_panel, nas: 4991
column name: build_count_foam, nas: 4991
column name: build_count_slag, nas: 4991
column name: build_count_mix, nas: 4991
column name: raion_build_count_with_builddate_info, nas: 4991
column name: build_count_before_1920, nas: 4991
column name: build_count_1921-1945, nas: 4991
column name: build_count_1946-1970, nas: 4991
column name: build_count_1971-1995, nas: 4991
column name: build_count_after_1995, nas: 4991
column name: metro_min_walk, nas: 25
column name: metro_km_walk, nas: 25
column name: railroad_station_walk_km, nas: 25
column name: railroad_station_walk_min, nas: 25
column name: ID_railroad_station_walk, nas: 25
column name: cafe_sum_500_min_price_avg, nas: 13281
column name: cafe_sum_500_max_price_avg, nas: 13281
column name: cafe_avg_price_500, nas: 13281
column name: cafe_sum_1000_min_price_avg, nas: 6524
column name: cafe_sum_1000_max_price_avg, nas: 6524
column name: cafe_avg_price_1000, nas: 6524
column name: cafe_sum_1500_min_price_avg, nas: 4199
column name: cafe_sum_1500_max_price_avg, nas: 4199
column name: cafe_avg_price_1500, nas: 4199
column name: cafe_sum_2000_min_price_avg, nas: 1725
column name: cafe_sum_2000_max_price_avg, nas: 1725
column name: cafe_avg_price_2000, nas: 1725
column name: cafe_sum_3000_min_price_avg, nas: 991
column name: cafe_sum_3000_max_price_avg, nas: 991
column name: cafe_avg_price_3000, nas: 991
column name: prom_part_5000, nas: 178
column name: cafe_sum_5000_min_price_avg, nas: 297
column name: cafe_sum_5000_max_price_avg, nas: 297
column name: cafe_avg_price_5000, nas: 297

In [9]:
countTrainNA

51

In [10]:
countTrain = 0
for col in sberbankTrain.columns:
    if sberbankTrain[col].isna().sum() == 0:
        print(f'column name: {col}')
        countTrain += 1

column name: id
column name: timestamp
column name: full_sq
column name: product_type
column name: sub_area
column name: area_m
column name: raion_popul
column name: green_zone_part
column name: indust_part
column name: children_preschool
column name: preschool_education_centers_raion
column name: children_school
column name: school_education_centers_raion
column name: school_education_centers_top_20_raion
column name: healthcare_centers_raion
column name: university_top_20_raion
column name: sport_objects_raion
column name: additional_education_raion
column name: culture_objects_top_25
column name: culture_objects_top_25_raion
column name: shopping_centers_raion
column name: office_raion
column name: thermal_power_plant_raion
column name: incineration_raion
column name: oil_chemistry_raion
column name: radiation_raion
column name: railroad_terminal_raion
column name: big_market_raion
column name: nuclear_reactor_raion
column name: detention_facility_raion
column name: full_all
column name: male_f
column name: female_f
column name: young_all
column name: young_male
column name: young_female
column name: work_all
column name: work_male
column name: work_female
column name: ekder_all
column name: ekder_male
column name: ekder_female
column name: 0_6_all
column name: 0_6_male
column name: 0_6_female
column name: 7_14_all
column name: 7_14_male
column name: 7_14_female
column name: 0_17_all
column name: 0_17_male
column name: 0_17_female
column name: 16_29_all
column name: 16_29_male
column name: 16_29_female
column name: 0_13_all
column name: 0_13_male
column name: 0_13_female
column name: ID_metro
column name: metro_min_avto
column name: metro_km_avto
column name: kindergarten_km
column name: school_km
column name: park_km
column name: green_zone_km
column name: industrial_km
column name: water_treatment_km
column name: cemetery_km
column name: incineration_km
column name: railroad_station_avto_km
column name: railroad_station_avto_min
column name: ID_railroad_station_avto
column name: public_transport_station_km
column name: public_transport_station_min_walk
column name: water_km
column name: water_1line
column name: mkad_km
column name: ttk_km
column name: sadovoe_km
column name: bulvar_ring_km
column name: kremlin_km
column name: big_road1_km
column name: ID_big_road1
column name: big_road1_1line
column name: big_road2_km
column name: ID_big_road2
column name: railroad_km
column name: railroad_1line
column name: zd_vokzaly_avto_km
column name: ID_railroad_terminal
column name: bus_terminal_avto_km
column name: ID_bus_terminal
column name: oil_chemistry_km
column name: nuclear_reactor_km
column name: radiation_km
column name: power_transmission_line_km
column name: thermal_power_plant_km
column name: ts_km
column name: big_market_km
column name: market_shop_km
column name: fitness_km
column name: swim_pool_km
column name: ice_rink_km
column name: stadium_km
column name: basketball_km
column name: hospice_morgue_km
column name: detention_facility_km
column name: public_healthcare_km
column name: university_km
column name: workplaces_km
column name: shopping_centers_km
column name: office_km
column name: additional_education_km
column name: preschool_km
column name: big_church_km
column name: church_synagogue_km
column name: mosque_km
column name: theater_km
column name: museum_km
column name: exhibition_km
column name: catering_km
column name: ecology
column name: green_part_500
column name: prom_part_500
column name: office_count_500
column name: office_sqm_500
column name: trc_count_500
column name: trc_sqm_500
column name: cafe_count_500
column name: cafe_count_500_na_price
column name: cafe_count_500_price_500
column name: cafe_count_500_price_1000
column name: cafe_count_500_price_1500
column name: cafe_count_500_price_2500
column name: cafe_count_500_price_4000
column name: cafe_count_500_price_high
column name: big_church_count_500
column name: church_count_500
column name: mosque_count_500
column name: leisure_count_500
column name: sport_count_500
column name: market_count_500
column name: green_part_1000
column name: prom_part_1000
column name: office_count_1000
column name: office_sqm_1000
column name: trc_count_1000
column name: trc_sqm_1000
column name: cafe_count_1000
column name: cafe_count_1000_na_price
column name: cafe_count_1000_price_500
column name: cafe_count_1000_price_1000
column name: cafe_count_1000_price_1500
column name: cafe_count_1000_price_2500
column name: cafe_count_1000_price_4000
column name: cafe_count_1000_price_high
column name: big_church_count_1000
column name: church_count_1000
column name: mosque_count_1000
column name: leisure_count_1000
column name: sport_count_1000
column name: market_count_1000
column name: green_part_1500
column name: prom_part_1500
column name: office_count_1500
column name: office_sqm_1500
column name: trc_count_1500
column name: trc_sqm_1500
column name: cafe_count_1500
column name: cafe_count_1500_na_price
column name: cafe_count_1500_price_500
column name: cafe_count_1500_price_1000
column name: cafe_count_1500_price_1500
column name: cafe_count_1500_price_2500
column name: cafe_count_1500_price_4000
column name: cafe_count_1500_price_high
column name: big_church_count_1500
column name: church_count_1500
column name: mosque_count_1500
column name: leisure_count_1500
column name: sport_count_1500
column name: market_count_1500
column name: green_part_2000
column name: prom_part_2000
column name: office_count_2000
column name: office_sqm_2000
column name: trc_count_2000
column name: trc_sqm_2000
column name: cafe_count_2000
column name: cafe_count_2000_na_price
column name: cafe_count_2000_price_500
column name: cafe_count_2000_price_1000
column name: cafe_count_2000_price_1500
column name: cafe_count_2000_price_2500
column name: cafe_count_2000_price_4000
column name: cafe_count_2000_price_high
column name: big_church_count_2000
column name: church_count_2000
column name: mosque_count_2000
column name: leisure_count_2000
column name: sport_count_2000
column name: market_count_2000
column name: green_part_3000
column name: prom_part_3000
column name: office_count_3000
column name: office_sqm_3000
column name: trc_count_3000
column name: trc_sqm_3000
column name: cafe_count_3000
column name: cafe_count_3000_na_price
column name: cafe_count_3000_price_500
column name: cafe_count_3000_price_1000
column name: cafe_count_3000_price_1500
column name: cafe_count_3000_price_2500
column name: cafe_count_3000_price_4000
column name: cafe_count_3000_price_high
column name: big_church_count_3000
column name: church_count_3000
column name: mosque_count_3000
column name: leisure_count_3000
column name: sport_count_3000
column name: market_count_3000
column name: green_part_5000
column name: office_count_5000
column name: office_sqm_5000
column name: trc_count_5000
column name: trc_sqm_5000
column name: cafe_count_5000
column name: cafe_count_5000_na_price
column name: cafe_count_5000_price_500
column name: cafe_count_5000_price_1000
column name: cafe_count_5000_price_1500
column name: cafe_count_5000_price_2500
column name: cafe_count_5000_price_4000
column name: cafe_count_5000_price_high
column name: big_church_count_5000
column name: church_count_5000
column name: mosque_count_5000
column name: leisure_count_5000
column name: sport_count_5000
column name: market_count_5000
column name: price_doc

In [11]:
countTrain

241

In [12]:
countTestNA = 0
for col in sberbankTest.columns:
    if sberbankTest[col].isna().sum() > 0:
        print(f'column name: {col}, nas: {sberbankTest[col].isna().sum()}')
        countTestNA += 1

column name: life_sq, nas: 1176
column name: build_year, nas: 1049
column name: state, nas: 694
column name: product_type, nas: 33
column name: preschool_quota, nas: 1596
column name: school_quota, nas: 1595
column name: hospital_beds_raion, nas: 3418
column name: raion_build_count_with_material_info, nas: 1218
column name: build_count_block, nas: 1218
column name: build_count_wood, nas: 1218
column name: build_count_frame, nas: 1218
column name: build_count_brick, nas: 1218
column name: build_count_monolith, nas: 1218
column name: build_count_panel, nas: 1218
column name: build_count_foam, nas: 1218
column name: build_count_slag, nas: 1218
column name: build_count_mix, nas: 1218
column name: raion_build_count_with_builddate_info, nas: 1218
column name: build_count_before_1920, nas: 1218
column name: build_count_1921-1945, nas: 1218
column name: build_count_1946-1970, nas: 1218
column name: build_count_1971-1995, nas: 1218
column name: build_count_after_1995, nas: 1218
column name: metro_min_walk, nas: 34
column name: metro_km_walk, nas: 34
column name: railroad_station_walk_km, nas: 34
column name: railroad_station_walk_min, nas: 34
column name: ID_railroad_station_walk, nas: 34
column name: cafe_sum_500_min_price_avg, nas: 3159
column name: cafe_sum_500_max_price_avg, nas: 3159
column name: cafe_avg_price_500, nas: 3159
column name: cafe_sum_1000_min_price_avg, nas: 1222
column name: cafe_sum_1000_max_price_avg, nas: 1222
column name: cafe_avg_price_1000, nas: 1222
column name: cafe_sum_1500_min_price_avg, nas: 821
column name: cafe_sum_1500_max_price_avg, nas: 821
column name: cafe_avg_price_1500, nas: 821
column name: green_part_2000, nas: 19
column name: cafe_sum_2000_min_price_avg, nas: 424
column name: cafe_sum_2000_max_price_avg, nas: 424
column name: cafe_avg_price_2000, nas: 424
column name: cafe_sum_3000_min_price_avg, nas: 182
column name: cafe_sum_3000_max_price_avg, nas: 182
column name: cafe_avg_price_3000, nas: 182
column name: prom_part_5000, nas: 92
column name: cafe_sum_5000_min_price_avg, nas: 128
column name: cafe_sum_5000_max_price_avg, nas: 128
column name: cafe_avg_price_5000, nas: 128

In [13]:
countTestNA

48

In [18]:
countTest = 0
for col in sberbankTest.columns:
    if sberbankTest[col].isna().sum() == 0:
        print(f'column name: {col}, nas: {sberbankTest[col].isna().sum()}')
        countTest += 1
droplist = sberbankTest.columns[sberbankTest.isna().sum() > 0].tolist()

column name: id, nas: 0
column name: timestamp, nas: 0
column name: full_sq, nas: 0
column name: floor, nas: 0
column name: max_floor, nas: 0
column name: material, nas: 0
column name: num_room, nas: 0
column name: kitch_sq, nas: 0
column name: sub_area, nas: 0
column name: area_m, nas: 0
column name: raion_popul, nas: 0
column name: green_zone_part, nas: 0
column name: indust_part, nas: 0
column name: children_preschool, nas: 0
column name: preschool_education_centers_raion, nas: 0
column name: children_school, nas: 0
column name: school_education_centers_raion, nas: 0
column name: school_education_centers_top_20_raion, nas: 0
column name: healthcare_centers_raion, nas: 0
column name: university_top_20_raion, nas: 0
column name: sport_objects_raion, nas: 0
column name: additional_education_raion, nas: 0
column name: culture_objects_top_25, nas: 0
column name: culture_objects_top_25_raion, nas: 0
column name: shopping_centers_raion, nas: 0
column name: office_raion, nas: 0
column name: thermal_power_plant_raion, nas: 0
column name: incineration_raion, nas: 0
column name: oil_chemistry_raion, nas: 0
column name: radiation_raion, nas: 0
column name: railroad_terminal_raion, nas: 0
column name: big_market_raion, nas: 0
column name: nuclear_reactor_raion, nas: 0
column name: detention_facility_raion, nas: 0
column name: full_all, nas: 0
column name: male_f, nas: 0
column name: female_f, nas: 0
column name: young_all, nas: 0
column name: young_male, nas: 0
column name: young_female, nas: 0
column name: work_all, nas: 0
column name: work_male, nas: 0
column name: work_female, nas: 0
column name: ekder_all, nas: 0
column name: ekder_male, nas: 0
column name: ekder_female, nas: 0
column name: 0_6_all, nas: 0
column name: 0_6_male, nas: 0
column name: 0_6_female, nas: 0
column name: 7_14_all, nas: 0
column name: 7_14_male, nas: 0
column name: 7_14_female, nas: 0
column name: 0_17_all, nas: 0
column name: 0_17_male, nas: 0
column name: 0_17_female, nas: 0
column name: 16_29_all, nas: 0
column name: 16_29_male, nas: 0
column name: 16_29_female, nas: 0
column name: 0_13_all, nas: 0
column name: 0_13_male, nas: 0
column name: 0_13_female, nas: 0
column name: ID_metro, nas: 0
column name: metro_min_avto, nas: 0
column name: metro_km_avto, nas: 0
column name: kindergarten_km, nas: 0
column name: school_km, nas: 0
column name: park_km, nas: 0
column name: green_zone_km, nas: 0
column name: industrial_km, nas: 0
column name: water_treatment_km, nas: 0
column name: cemetery_km, nas: 0
column name: incineration_km, nas: 0
column name: railroad_station_avto_km, nas: 0
column name: railroad_station_avto_min, nas: 0
column name: ID_railroad_station_avto, nas: 0
column name: public_transport_station_km, nas: 0
column name: public_transport_station_min_walk, nas: 0
column name: water_km, nas: 0
column name: water_1line, nas: 0
column name: mkad_km, nas: 0
column name: ttk_km, nas: 0
column name: sadovoe_km, nas: 0
column name: bulvar_ring_km, nas: 0
column name: kremlin_km, nas: 0
column name: big_road1_km, nas: 0
column name: ID_big_road1, nas: 0
column name: big_road1_1line, nas: 0
column name: big_road2_km, nas: 0
column name: ID_big_road2, nas: 0
column name: railroad_km, nas: 0
column name: railroad_1line, nas: 0
column name: zd_vokzaly_avto_km, nas: 0
column name: ID_railroad_terminal, nas: 0
column name: bus_terminal_avto_km, nas: 0
column name: ID_bus_terminal, nas: 0
column name: oil_chemistry_km, nas: 0
column name: nuclear_reactor_km, nas: 0
column name: radiation_km, nas: 0
column name: power_transmission_line_km, nas: 0
column name: thermal_power_plant_km, nas: 0
column name: ts_km, nas: 0
column name: big_market_km, nas: 0
column name: market_shop_km, nas: 0
column name: fitness_km, nas: 0
column name: swim_pool_km, nas: 0
column name: ice_rink_km, nas: 0
column name: stadium_km, nas: 0
column name: basketball_km, nas: 0
column name: hospice_morgue_km, nas: 0
column name: detention_facility_km, nas: 0
column name: public_healthcare_km, nas: 0
column name: university_km, nas: 0
column name: workplaces_km, nas: 0
column name: shopping_centers_km, nas: 0
column name: office_km, nas: 0
column name: additional_education_km, nas: 0
column name: preschool_km, nas: 0
column name: big_church_km, nas: 0
column name: church_synagogue_km, nas: 0
column name: mosque_km, nas: 0
column name: theater_km, nas: 0
column name: museum_km, nas: 0
column name: exhibition_km, nas: 0
column name: catering_km, nas: 0
column name: ecology, nas: 0
column name: green_part_500, nas: 0
column name: prom_part_500, nas: 0
column name: office_count_500, nas: 0
column name: office_sqm_500, nas: 0
column name: trc_count_500, nas: 0
column name: trc_sqm_500, nas: 0
column name: cafe_count_500, nas: 0
column name: cafe_count_500_na_price, nas: 0
column name: cafe_count_500_price_500, nas: 0
column name: cafe_count_500_price_1000, nas: 0
column name: cafe_count_500_price_1500, nas: 0
column name: cafe_count_500_price_2500, nas: 0
column name: cafe_count_500_price_4000, nas: 0
column name: cafe_count_500_price_high, nas: 0
column name: big_church_count_500, nas: 0
column name: church_count_500, nas: 0
column name: mosque_count_500, nas: 0
column name: leisure_count_500, nas: 0
column name: sport_count_500, nas: 0
column name: market_count_500, nas: 0
column name: green_part_1000, nas: 0
column name: prom_part_1000, nas: 0
column name: office_count_1000, nas: 0
column name: office_sqm_1000, nas: 0
column name: trc_count_1000, nas: 0
column name: trc_sqm_1000, nas: 0
column name: cafe_count_1000, nas: 0
column name: cafe_count_1000_na_price, nas: 0
column name: cafe_count_1000_price_500, nas: 0
column name: cafe_count_1000_price_1000, nas: 0
column name: cafe_count_1000_price_1500, nas: 0
column name: cafe_count_1000_price_2500, nas: 0
column name: cafe_count_1000_price_4000, nas: 0
column name: cafe_count_1000_price_high, nas: 0
column name: big_church_count_1000, nas: 0
column name: church_count_1000, nas: 0
column name: mosque_count_1000, nas: 0
column name: leisure_count_1000, nas: 0
column name: sport_count_1000, nas: 0
column name: market_count_1000, nas: 0
column name: green_part_1500, nas: 0
column name: prom_part_1500, nas: 0
column name: office_count_1500, nas: 0
column name: office_sqm_1500, nas: 0
column name: trc_count_1500, nas: 0
column name: trc_sqm_1500, nas: 0
column name: cafe_count_1500, nas: 0
column name: cafe_count_1500_na_price, nas: 0
column name: cafe_count_1500_price_500, nas: 0
column name: cafe_count_1500_price_1000, nas: 0
column name: cafe_count_1500_price_1500, nas: 0
column name: cafe_count_1500_price_2500, nas: 0
column name: cafe_count_1500_price_4000, nas: 0
column name: cafe_count_1500_price_high, nas: 0
column name: big_church_count_1500, nas: 0
column name: church_count_1500, nas: 0
column name: mosque_count_1500, nas: 0
column name: leisure_count_1500, nas: 0
column name: sport_count_1500, nas: 0
column name: market_count_1500, nas: 0
column name: prom_part_2000, nas: 0
column name: office_count_2000, nas: 0
column name: office_sqm_2000, nas: 0
column name: trc_count_2000, nas: 0
column name: trc_sqm_2000, nas: 0
column name: cafe_count_2000, nas: 0
column name: cafe_count_2000_na_price, nas: 0
column name: cafe_count_2000_price_500, nas: 0
column name: cafe_count_2000_price_1000, nas: 0
column name: cafe_count_2000_price_1500, nas: 0
column name: cafe_count_2000_price_2500, nas: 0
column name: cafe_count_2000_price_4000, nas: 0
column name: cafe_count_2000_price_high, nas: 0
column name: big_church_count_2000, nas: 0
column name: church_count_2000, nas: 0
column name: mosque_count_2000, nas: 0
column name: leisure_count_2000, nas: 0
column name: sport_count_2000, nas: 0
column name: market_count_2000, nas: 0
column name: green_part_3000, nas: 0
column name: prom_part_3000, nas: 0
column name: office_count_3000, nas: 0
column name: office_sqm_3000, nas: 0
column name: trc_count_3000, nas: 0
column name: trc_sqm_3000, nas: 0
column name: cafe_count_3000, nas: 0
column name: cafe_count_3000_na_price, nas: 0
column name: cafe_count_3000_price_500, nas: 0
column name: cafe_count_3000_price_1000, nas: 0
column name: cafe_count_3000_price_1500, nas: 0
column name: cafe_count_3000_price_2500, nas: 0
column name: cafe_count_3000_price_4000, nas: 0
column name: cafe_count_3000_price_high, nas: 0
column name: big_church_count_3000, nas: 0
column name: church_count_3000, nas: 0
column name: mosque_count_3000, nas: 0
column name: leisure_count_3000, nas: 0
column name: sport_count_3000, nas: 0
column name: market_count_3000, nas: 0
column name: green_part_5000, nas: 0
column name: office_count_5000, nas: 0
column name: office_sqm_5000, nas: 0
column name: trc_count_5000, nas: 0
column name: trc_sqm_5000, nas: 0
column name: cafe_count_5000, nas: 0
column name: cafe_count_5000_na_price, nas: 0
column name: cafe_count_5000_price_500, nas: 0
column name: cafe_count_5000_price_1000, nas: 0
column name: cafe_count_5000_price_1500, nas: 0
column name: cafe_count_5000_price_2500, nas: 0
column name: cafe_count_5000_price_4000, nas: 0
column name: cafe_count_5000_price_high, nas: 0
column name: big_church_count_5000, nas: 0
column name: church_count_5000, nas: 0
column name: mosque_count_5000, nas: 0
column name: leisure_count_5000, nas: 0
column name: sport_count_5000, nas: 0
column name: market_count_5000, nas: 0

In [19]:
countTest
droplist

['life_sq',
 'build_year',
 'state',
 'product_type',
 'preschool_quota',
 'school_quota',
 'hospital_beds_raion',
 'raion_build_count_with_material_info',
 'build_count_block',
 'build_count_wood',
 'build_count_frame',
 'build_count_brick',
 'build_count_monolith',
 'build_count_panel',
 'build_count_foam',
 'build_count_slag',
 'build_count_mix',
 'raion_build_count_with_builddate_info',
 'build_count_before_1920',
 'build_count_1921-1945',
 'build_count_1946-1970',
 'build_count_1971-1995',
 'build_count_after_1995',
 'metro_min_walk',
 'metro_km_walk',
 'railroad_station_walk_km',
 'railroad_station_walk_min',
 'ID_railroad_station_walk',
 'cafe_sum_500_min_price_avg',
 'cafe_sum_500_max_price_avg',
 'cafe_avg_price_500',
 'cafe_sum_1000_min_price_avg',
 'cafe_sum_1000_max_price_avg',
 'cafe_avg_price_1000',
 'cafe_sum_1500_min_price_avg',
 'cafe_sum_1500_max_price_avg',
 'cafe_avg_price_1500',
 'green_part_2000',
 'cafe_sum_2000_min_price_avg',
 'cafe_sum_2000_max_price_avg',
 'cafe_avg_price_2000',
 'cafe_sum_3000_min_price_avg',
 'cafe_sum_3000_max_price_avg',
 'cafe_avg_price_3000',
 'prom_part_5000',
 'cafe_sum_5000_min_price_avg',
 'cafe_sum_5000_max_price_avg',
 'cafe_avg_price_5000']

In [22]:
sberbankTrain = sberbankTrain.drop(droplist, axis=1)
sberbankTest = sberbankTest.drop(droplist, axis=1)

In [31]:
sberbankTrain.loc[:, sberbankTrain.dtypes == sberbankTrain.dtypes[1]].describe()

C:\Users\tomge\AppData\Local\Temp\ipykernel_7332\2039764661.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sberbankTrain.loc[:, sberbankTrain.dtypes == sberbankTrain.dtypes[1]].describe()

,timestamp,sub_area,culture_objects_top_25,thermal_power_plant_raion,incineration_raion,oil_chemistry_raion,radiation_raion,railroad_terminal_raion,big_market_raion,nuclear_reactor_raion,detention_facility_raion,water_1line,big_road1_1line,railroad_1line,ecology
count,30471,30471,30471,30471,30471,30471,30471,30471,30471,30471,30471,30471,30471,30471,30471
unique,1161,146,2,2,2,2,2,2,2,2,2,2,2,2,5
top,2014-12-16,Poselenie Sosenskoe,no,no,no,no,no,no,no,no,no,no,no,no,poor
freq,160,1776,28543,28817,28155,30175,19600,29335,27649,29608,27427,28134,29690,29578,8018

In [32]:
sberbankTrain.loc[:, sberbankTrain.dtypes != sberbankTrain.dtypes[1]].describe()

C:\Users\tomge\AppData\Local\Temp\ipykernel_7332\2300225222.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sberbankTrain.loc[:, sberbankTrain.dtypes != sberbankTrain.dtypes[1]].describe()

,id,full_sq,floor,max_floor,material,num_room,kitch_sq,area_m,raion_popul,green_zone_part,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
count,30471.000000,30471.000000,30304.000000,20899.000000,20899.000000,20899.000000,20899.000000,3.047100e+04,30471.000000,30471.000000,...,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04
mean,15237.917397,54.214269,7.670803,12.558974,1.827121,1.909804,6.399301,1.765705e+07,84056.425552,0.218922,...,32.058318,10.783860,1.771783,15.045552,30.251518,0.442421,8.648814,52.796593,5.987070,7.123035e+06
std,8796.501536,38.031487,5.319989,6.756550,1.481154,0.851805,28.265979,2.064961e+07,57871.285899,0.175090,...,73.465611,28.385679,5.418807,29.118668,47.347938,0.609269,20.580741,46.292660,4.889219,4.780111e+06
min,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2.081628e+06,2546.000000,0.001879,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+05
25%,7620.500000,38.000000,3.000000,9.000000,1.000000,1.000000,1.000000,7.307411e+06,21819.000000,0.063755,...,2.000000,1.000000,0.000000,2.000000,9.000000,0.000000,0.000000,11.000000,1.000000,4.740002e+06
50%,15238.000000,49.000000,6.500000,12.000000,1.000000,2.000000,6.000000,1.050803e+07,83502.000000,0.167526,...,8.000000,2.000000,0.000000,7.000000,16.000000,0.000000,2.000000,48.000000,5.000000,6.274411e+06
75%,22855.500000,63.000000,11.000000,17.000000,2.000000,2.000000,9.000000,1.803644e+07,122862.000000,0.336177,...,21.000000,5.000000,1.000000,12.000000,28.000000,1.000000,7.000000,76.000000,10.000000,8.300000e+06
max,30473.000000,5326.000000,77.000000,117.000000,6.000000,19.000000,2014.000000,2.060718e+08,247469.000000,0.852923,...,377.000000,147.000000,30.000000,151.000000,250.000000,2.000000,106.000000,218.000000,21.000000,1.111111e+08

In [23]:
sberbankTrain.describe()

,id,full_sq,floor,max_floor,material,num_room,kitch_sq,area_m,raion_popul,green_zone_part,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
count,30471.000000,30471.000000,30304.000000,20899.000000,20899.000000,20899.000000,20899.000000,3.047100e+04,30471.000000,30471.000000,...,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04
mean,15237.917397,54.214269,7.670803,12.558974,1.827121,1.909804,6.399301,1.765705e+07,84056.425552,0.218922,...,32.058318,10.783860,1.771783,15.045552,30.251518,0.442421,8.648814,52.796593,5.987070,7.123035e+06
std,8796.501536,38.031487,5.319989,6.756550,1.481154,0.851805,28.265979,2.064961e+07,57871.285899,0.175090,...,73.465611,28.385679,5.418807,29.118668,47.347938,0.609269,20.580741,46.292660,4.889219,4.780111e+06
min,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,2.081628e+06,2546.000000,0.001879,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+05
25%,7620.500000,38.000000,3.000000,9.000000,1.000000,1.000000,1.000000,7.307411e+06,21819.000000,0.063755,...,2.000000,1.000000,0.000000,2.000000,9.000000,0.000000,0.000000,11.000000,1.000000,4.740002e+06
50%,15238.000000,49.000000,6.500000,12.000000,1.000000,2.000000,6.000000,1.050803e+07,83502.000000,0.167526,...,8.000000,2.000000,0.000000,7.000000,16.000000,0.000000,2.000000,48.000000,5.000000,6.274411e+06
75%,22855.500000,63.000000,11.000000,17.000000,2.000000,2.000000,9.000000,1.803644e+07,122862.000000,0.336177,...,21.000000,5.000000,1.000000,12.000000,28.000000,1.000000,7.000000,76.000000,10.000000,8.300000e+06
max,30473.000000,5326.000000,77.000000,117.000000,6.000000,19.000000,2014.000000,2.060718e+08,247469.000000,0.852923,...,377.000000,147.000000,30.000000,151.000000,250.000000,2.000000,106.000000,218.000000,21.000000,1.111111e+08